DJANGO_SECRET_KEY=change-me-to-a-long-random-string
BASE_URL=https://tests-production-8b04.up.railway.app/
DEBUG=True
# DATABASE_URL is set automatically by Railway when you add a Postgres plugin
# DATABASE_URL=postgresql://user:pass@host:5432/dbname

NEW_RELIC_LICENSE_KEY=""
NEW_RELIC_APP_NAME="Publive MCP"
NEW_RELIC_USER_KEY=""
LANGFUSE_SECRET_KEY=""
LANGFUSE_PUBLIC_KEY=""
LANGFUSE_HOST="https://us.cloud.langfuse.com"